@value makerWhite, makerBlack from '../../common/colors.css';

.button {
  background-color: #ffb74d;
  border: 0;
  color: makerBlack;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  flex: 1 1 50%;
  font-size: 0.8rem;
  outline: none;
}

.button:hover {
  opacity: 0.8;
}
