@value makerWhite, makerBlack from '../../common/colors.css';

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #9e9e9e;
  border-radius: 1em;
  padding: 1em;
  /* border: 1px solid makerBlack; */
  /* border-left: 1px solid makerBlack; */
  margin-bottom: 1em;
}
.input,
.textarea,
.select,
.button,
.fileInput {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  /* border-bottom: 1px solid makerBlack;
  border-right: 1px solid makerBlack; */
  background: makerWhite;
}
.date {
  display: flex;
  align-items: center;
  width: 100%;
}

.dateSelect {
  color: makerBlack;
  font-size: 1.3em;
  border: 0;
  margin: 0 0.4em;
}

.feel {
  flex: 1 1 60%;
  text-align: end;
}

.select {
  flex: 1 1 40%;
  font: 1.3em;
  color: makerBlack;
}

.fileInput {
  padding: 0;
  flex: 1 1 50%;
}

.input:focus,
.textarea:focus,
.select:focus,
.button:focus {
  outline: 0;
}

.textarea {
  flex-basis: 100%;
  border: 1px solid makerBlack;
  margin-bottom: 1em;
}

.dropDown {
  position: absolute;
  top: 2em;
  right: 0em;
  max-height: 7em;
  overflow-y: scroll;
  z-index: 2;
}

.dropDown::-webkit-scrollbar {
  width: 3px;
}

.dropDown::-webkit-scrollbar-thumb {
  background-color: #f48fb1;
}
.dropDown::-webkit-scrollbar-track {
  background-color: #fce4ec;
}

.dateContainer {
  background-color: beige;
  width: 3em;
  height: 2em;
  margin-left: 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 200ms ease;
  border-radius: 0.5em;
}

.dateContainer > h1 {
  margin: auto;
}

.dateContainer:hover {
  width: 3.5em;
  height: 2.5em;
}

.clickDay {
  width: 3.5em;
  height: 2.5em;
}
