@value makerGreen from '../../common/size.css';

.editor {
  flex-basis: 50%;
  background-color: violet;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}
