@value makerShadow, makerBlack, makerWhite, makerLightGrey from '../../common/colors.css';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 12rem;
  max-width: 30rem;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 0.2em 0;
  border-top: 1px solid makerLightGrey;
  border-left: 1px solid makerLightGrey;
  border-radius: 1em;
  background-color: makerWhite;
  box-shadow: 6px 6px 8px 0px makerShadow;
  transition: transform 150ms ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 12px 0px makerShadow;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}

.card.light {
  background-color: makerWhite;
  color: makerBlack;
}

.card.colorful {
  background-color: turquoise;
  color: makerWhite;
}

.photo {
  width: 10em;
  height: 10em;
  padding: 1em;
  border-radius: 50%;
}

.date {
  margin: 0;
}

@media screen and (max-width: 550px) {
  .card {
    width: 5rem;
    height: 6.5rem;
    margin-bottom: 1em;
    margin-right: 0.3em;
  }
  .photo {
    padding: 0.7em;
    width: 5rem;
    height: 5rem;
  }

  .date {
    padding-top: 0.3em;
    font-size: 1em;
  }
}
