@value makerShadow, makerBlack, makerWhite, makerLightGrey from '../../common/colors.css';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 30rem;
  overflow-y: auto;
  border: 1px;
  border-top: 1px solid makerLightGrey;
  border-left: 1px solid makerLightGrey;
  border-radius: 1em;
  box-shadow: 6px 6px 8px 0px makerShadow;
  z-index: 3;
  background-color: #fffde7;
}

.container::-webkit-scrollbar {
  width: 0.5em;
}

.container::-webkit-scrollbar-thumb {
  background-color: #cccab5;
}
.container::-webkit-scrollbar-track {
  background-color: #ffd54f;
}

.closeBtn {
  width: 4.5em;
  height: 2em;
  position: absolute;
  top: 1em;
  right: 1em;
  border: 0;
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease;
}

.closeBtn:hover {
  background-color: #bdb9b7;
}

.img {
  width: 50%;
}

.message {
  padding: 2.5em 1em 1em 1em;
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
}
