@value makerGrey from './common/colors.css';

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerGrey;
}
