.form {
  display: flex;
  align-items: center;
}

.monthSelect {
  border: 0;
  font-size: 1.2em;
  background-color: #f48fb1;
  border-radius: 0.5em;
  outline: none;
  margin-right: 0.5em;
}

option {
  background-color: white;
}

.text {
  font-size: 1.5em;
}
