@value mediaQuery from '../../common/size.css';
@value makerWhite from '../../common/colors.css';

.maker {
  width: 100%;
  height: 100%;
  display: flex;
  /* max-width: 80rem; */
  flex-direction: column;
  background-color: makerWhite;
  z-index: 2;
  overflow: hidden;
}

.dairyContainer {
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 80%;
  padding-top: 5em;
}

.container {
  display: flex;
  flex: 1;
  min-height: 0;
  z-index: 2;
  overflow: hidden;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }

  .dairyContainer {
    top: 5em;
  }
}
